// FONT FAMILY
$inter: 'Inter', sans-serif;

// FONT SIZE
$fs-12: 12px;
$fs-14: 14px;
$fs-16: 16px;
$fs-18: 18px;
$fs-20: 20px;
$fs-24: 24px;
$fs-28: 28px;
$fs-32: 32px;
$fs-36: 36px;
$fs-40: 40px;
$fs-48: 48px;
$fs-56: 56px;
$fs-60: 60px;
$fs-64: 64px;

// FONT WEIGHT
$fw-2: 200;
$fw-3: 300;
$fw-4: 400;
$fw-5: 500;
$fw-6: 600;
$fw-7: 700;
$fw-8: 800;
$fw-9: 900;

// TRANSPARENT
$transparent: transparent;
$inherit: inherit;

// BG COLOR
$bg-white: #fff;
$bg-gray-light: #d8d8d8;  //#f8f7f7
$bg-dark: #292929;
$bg-blue: #007DB6;
$bg-blue-light: #65B2D6;
$bg-pink: #FF879F;
$bg-yellow: #F0D075;

// TEXT COLOR
$txt-white: #fff;
$txt-dark: #292929;
$txt-blue: #007DB6;
$txt-blue-light: #65B2D6;
$txt-pink: #FF879F;
$txt-yellow: #F0D075;

// BORDER RADIUS
$border-radius-7: 0.4375rem;
$border-radius-16: 1rem;
$border-radius-32: 2rem;
$border-radius-50: 50%;