*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.header {
  background-color: #d8d8d8;
}
.header .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 0;
  padding: 26px 0;
}
.header .nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 2rem;
}
.header .nav ul li .log-in {
  padding: 10px 20px;
  border-radius: 0.4375rem;
  background-color: #007DB6;
  border-width: 1px;
  border-style: solid;
  border-color: #007DB6;
  color: #fff;
  font-size: 1rem;
  transition: all 0.3s ease;
  cursor: pointer;
}
.header .nav ul li .log-in:hover {
  filter: brightness(0.9);
}
.header .nav ul li .sign-up {
  padding: 10px 20px;
  border-radius: 0.4375rem;
  background-color: transparent;
  border-width: 1px;
  border-style: solid;
  border-color: #007DB6;
  color: #007DB6;
  font-size: 1rem;
  transition: all 0.3s ease;
  cursor: pointer;
}
.header .nav ul li .sign-up:hover {
  filter: brightness(0.9);
}
.header .nav .burger {
  display: none;
}

@media only screen and (max-width: 576px) {
  .container {
    max-width: 350px;
  }
  .header .nav ul {
    display: none;
  }
  .header .nav .burger {
    display: block;
    color: #292929;
  }
  .header .nav .burger span {
    font-size: 1.5rem;
  }
}
.dream_section {
  background-color: #d8d8d8;
  width: 100%;
  height: 50rem;
}
.dream_section .dream_teams {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: "";
  gap: 2rem;
}
.dream_section .dream_teams .txt_container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: "";
}
.dream_section .dream_teams .txt_container h1 {
  font-size: 4rem;
  color: #292929;
  font-weight: 800;
  text-transform: uppercase;
}
.dream_section .dream_teams .txt_container p {
  margin-top: 0.6rem;
  color: #292929;
  font-size: 1rem;
  font-weight: 400;
}
.dream_section .dream_teams .txt_container .begin {
  margin-top: 1.25rem;
  padding: 10px 20px;
  border-radius: 0.4375rem;
  background-color: #007DB6;
  border-width: 1;
  border-style: solid;
  border-color: #007DB6;
  color: #fff;
  font-size: 1rem;
  transition: all 0.3s ease;
  cursor: pointer;
}
.dream_section .dream_teams .txt_container .begin:hover {
  filter: brightness(0.9);
}
.dream_section .dream_teams .img_container {
  width: 55rem;
}
.dream_section .dream_teams .img_container img {
  margin-top: 3rem;
}

@media only screen and (max-width: 576px) {
  .container {
    max-width: 350px;
  }
  .dream_teams {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: "";
    gap: 2rem;
    flex-wrap: wrap-reverse;
  }
  .dream_teams .txt_container h1 {
    font-size: 1rem;
  }
  .dream_teams .img_container {
    width: 20rem;
  }
  .dream_teams .img_container img {
    width: 100%;
    margin-top: 3rem;
  }
}

/*# sourceMappingURL=style.css.map */
