@use '../../roots' as *;
@use '../../mixins';

// Header
.header{
    background-color: $bg-gray-light;
    .nav{
        @include mixins.flexBox(space-between, center, row, 0);

        padding: 26px 0;

        ul{
            @include mixins.flexBox(center, center, row, 2rem);
            li{
                .log-in{
                    @include mixins.button(10px 20px, $border-radius-7, $bg-blue, 1px, solid, $bg-blue, $txt-white, $fs-16);
                }
                .sign-up{
                    @include mixins.button(10px 20px, $border-radius-7, $transparent, 1px, solid, $bg-blue, $txt-blue, $fs-16);
                }

            }
        }
        .burger{
            display: none;
        }
    }
}

// * RESPONSIVE

@media only screen and (max-width: 1400px){

}
@media only screen and (max-width: 1200px){

}
@media only screen and (max-width: 992px){

}
@media only screen and (max-width: 768px){

}
@media only screen and (max-width: 576px){
    .container{
        max-width: 350px;
    }
    .header{
        .nav{
            ul{
                display: none;
            }
            .burger{
                display: block;
                color: $txt-dark;
                span{
                    font-size: 1.5rem;
                }
            }
        }
    }
}

@media only screen and (max-width: 380px){

}