@use '../../roots' as *;
@use '../../mixins';

// Dream Teams
.dream_section{
    background-color: $bg-gray-light;
    width: 100%;
    height: 50rem;

    .dream_teams{
        // width: 100%;
        @include mixins.flexBox(space-between, center, '', 2rem);
        .txt_container{
            @include mixins.flexBox(center, flex-start, column, '');
            .heading_title{
                font-size: $fs-64;
                color: $txt-dark;
                font-weight: $fw-8;
                text-transform: uppercase;
            }
            p{
                margin-top: 0.6rem;
                color: $txt-dark;
                font-size: $fs-16;
                font-weight: $fw-4;
            }
            .begin{
                margin-top: 1.25rem;
                @include mixins.button(10px 20px, $border-radius-7, $bg-blue, 1, solid, $bg-blue, $txt-white, $fs-16);
            }
        }
        .img_container{
            width: 55rem;
            img{
                margin-top: 3rem;
            }
        }
    }
}



// * RESPONSIVE

@media only screen and (max-width: 1400px){

}
@media only screen and (max-width: 1200px){

}
@media only screen and (max-width: 992px){

}
@media only screen and (max-width: 768px){

}
@media only screen and (max-width: 576px){
    .container{
        max-width: 350px;
    }
    .dream_teams{
        @include mixins.flexBox(space-between, center, '', 2rem);
        flex-wrap: wrap-reverse;
        .txt_container{
            .heading_title{
                font-size: 10px;
            }
        }
        .img_container{
            width: 20rem;
            img{
                width: 100%;
                margin-top: 3rem;
            }
        }
    }
}
@media only screen and (max-width: 380px){

}